{% extends "base.html" %}

{% block title %}Produtos | Ecommerce{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li>
				<a href="{{ url_for('ecommerce.index') }}">Home</a>
			</li>
			<li class="active">Visualizar Produto</li>
		</ol>
	</div>
</div>

<div class="row pad">
	<div class="col-lg-5">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="thumbnail">
				<img src="{{product.imagem }}" alt="">
			</div>
		</div>
	</div>

	<div class="col-lg-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Detalhes</h3>
			</div>
			<div class="panel-body">
				<h3>{{ product.nome_produto }} &nbsp; 
					{% if product.estoque > 0 %}
					<small>(In estoque)</small>
					{% else %}
					<small>(Out of estoque)</small>
					{% endif %}
				</h3> 
				<h4>R$ {{ product.valor / 1 |round}}</h4>
				<hr />
				{{ product.descricao }}
				<hr />

				<form action="{{ url_for('ecommerce.add_to_cart') }}" method="POST">
				{% if product.estoque > 0 %}
				<div class="row">
					<div class="col-lg-4">
						<div class="row">
							<div class="col-lg-12">
								Quantidade
							</div>
							<div class="col-lg-12">
								{{ form.csrf_token }}

								{{ form.quantidade(class='form-control', type='number', min=1, max=product.estoque, step=1, value=1) }}

								{{ form.cod_produto(value=product.cod_produto) }}
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="panel-footer">
				{% if product.estoque > 0 %}
				<button type="submit" class="btn btn-primary">
					<i class="glyphicon glyphicon-shopping-cart"></i> Adicionar
				</button>
				{% endif %}
			</div>
			</form>
		</div>

		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#descricao" aria-controls="descricao" role="tab" data-toggle="tab">Descrição</a>
				</li>
				<li role="presentation">
					<a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">Detalhes</a>
				</li>
			</ul>
		
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="descricao">
					<h3>Descrição</h3>
					{{ product.descricao }}
				</div>
				<div role="tabpanel" class="tab-pane" id="shipping">
					<h3>Pedido Detalhes</h3>
					{{product.quantity_total}}
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}